.cookieConsent{
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1rem 4rem;
    font-size: small;
    color: white;
}
.button{
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-top: 1rem;
    border-bottom: solid 1px var(--darked900);
}