.container{
    height: 200vh;     
    padding: 20rem 0 30rem 0;
    border-bottom: 1rem solid var(--bg-secondary);
}


@media (max-width: 700px) {     
    .container{
        height: fit-content;     
        padding: 20rem 0 30rem 0;
    }
}

.innerContainer{
}