.container{
    min-height: 200vh;
    animation: scroller 70s linear infinite;
    background-color: red;
    background: url('/assets/img/inmer/banner.jpg');
    background-size: contain;

}
.inner{
    height: 100%;
}

.title{
    height: 8rem;
    width: 20rem;
    margin: 0 auto;
    position: relative;
}


.card:hover{
    transform: translate(2px,-4px);
    opacity: 0.8;
}
.mariposa{
    position: absolute;
    top:0;
    max-width: 100vw;
    transform: rotate(180deg);
    width:80%
}



@keyframes scroller {
    0% {
        background-position: 0px 0px;
      }
    100% {
      background-position: 0px -3000px;
    }
  }
  
  @media (prefers-reduced-motion) {
      .card {
        animation: scroll 200s linear infinite;
      }
    }