@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,700;1,900&display=swap');

:root{

    --text-secondary:#fa9b1b;
    --text-white: #e5e5e5;
    --black:#161616;
    --bg-secondary:rgb(41, 41, 41);
    --bg-secondary-transparent:rgb(41, 41, 41,0.8);

    --darked900:#292929;
    font-family: 'Roboto', sans-serif;

}

h3, h2, h1, h4, h5{
    color: var(--text-white);
}

.pushup_animation:hover{
    transform: scale(1.1);
  }
  